<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">  
<suite name="test_suite">  
<listeners>
		<listener class-name="com.framework.Listerners.TestListener" />
		<listener class-name="com.framework.Listerners.ConditionalSkipTestAnalyzer"/>
		<listener class-name="com.framework.Listerners.RetryInvoke"/>
	</listeners>
	
<test name="Regression testing">
  
  <packages>
            <package name="com.framework.testcases"/>
        </packages>

</test>  
</suite> 